@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans dark:bg-slate-950 dark:text-slate-50;
  }
}

@layer utilities {
  .gradient-border {
    border-image: linear-gradient(to right, #4b55ad, #22d3ee) 1;
  }
}
